@import "tailwindcss";
@import './theme/theme.light.css';
@import './theme/theme.dark.css';
@import './theme/theme.base.css';

body {
  font-size: var(--theme-font-size-body-md);
  background: var(--theme-color-background-body);
  color: var(--theme-color-text-normal);
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
