:root:has(.theme-dark) {
  --theme-color-primary-50: #78d3f2;
  --theme-color-primary-100: #69beda;
  --theme-color-primary-200: #5baac3;
  --theme-color-primary-300: #4d97ac;
  --theme-color-primary-400: #408396;
  --theme-color-primary-500: #337081;
  --theme-color-primary-600: #265e6c;
  --theme-color-primary-700: #1a4c58;
  --theme-color-primary-800: #0e3b45;
  --theme-color-primary-900: #032b33;

  --theme-color-neutral-50: #bdbdff;
  --theme-color-neutral-100: #a8a8e3;
  --theme-color-neutral-200: #9494c8;
  --theme-color-neutral-300: #8081ad;
  --theme-color-neutral-400: #6d6e93;
  --theme-color-neutral-500: #5b5b7a;
  --theme-color-neutral-600: #494962;
  --theme-color-neutral-700: #38384b;
  --theme-color-neutral-800: #272735;
  --theme-color-neutral-900: #181820;

  --theme-color-success: #4caf50;
  --theme-color-error: #af392f;
  --theme-color-warning: #ffc107;
  --theme-color-info: #2196f3;

  --theme-color-background-body: var(--theme-color-neutral-900);
  --theme-color-background-surface: var(--theme-color-neutral-800);

  --theme-color-text-feint: var(--theme-color-neutral-500);
  --theme-color-text-normal: var(--theme-color-neutral-300);
  --theme-color-text-heavy: var(--theme-color-neutral-100);
  --theme-color-text-on-primary: var(--theme-color-neutral-100);

  --theme-color-shadow: var(--color-neutral-500);

  --theme-color-border-light: var(--theme-color-neutral-700);
  --theme-color-border-medium: var(--theme-color-neutral-500);
  --theme-color-border-dark: var(--theme-color-neutral-300);
}
