.theme-dark {
  --theme-color-background-primary: #1a1b1f;
  --theme-color-text-primary: #8a92b3;
  --theme-color-button-primary: #6c1dbe;
  --theme-color-button-primary-hover: #571799;
  --theme-color-button-secondary: #45413d;
  --theme-color-button-secondary-hover: #322f2c;
  --theme-color-shadow: #393d3c;
}
